@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply font-sans;
	padding: 0;
	margin: 0;
	&:before {
		content: "";
		content: "";
		width: 100%;
		height: 100vh;
		background: #c94b4b; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#4b134f,
			#c94b4b
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#4b134f,
			#c94b4b
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.text-shadow {
	text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
	& .arrow-btn {
		transition: width 300ms ease;
		width: 50px;
	}
	&:hover {
		& .arrow-btn {
			width: 60px;
		}
	}
}

.react-multi-carousel-list {
	& .arrow-btn {
		transition: width 300ms ease;
		width: 50px;
		&:hover {
			width: 60px;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

article {
	* {
		@apply text-lg;
		line-height: 1.5;
		p {
			@apply mb-6;
		}
		h3 {
			@apply font-medium text-2xl my-4;
		}
		h2 {
			@apply font-medium text-3xl my-4;
		}
		h1 {
			@apply font-medium text-4xl my-4;
		}
		ul {
			@apply list-disc pl-5;
			* {
				@apply my-4 font-normal;
			}
		}
	}
}
