@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.text-shadow {
    text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
    & .arrow-btn {
        transition: width 300ms ease;
        width: 50px;
    }
    &:hover {
        & .arrow-btn {
            width: 60px;
        }
    }
}

.react-multi-carousel-list {
    & .arrow-btn {
        transition: width 300ms ease;
        width: 50px;
        &:hover {
            width: 60px;
        }
    }
}

.progress-bar {
    @apply bg-pink-700 shadow-xl;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    transform-origin: 0%;
    z-index: 100;
}
.card {
    @apply bg-white md:rounded-lg mb-3 md:mb-8;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.breadcrumb {
    @apply bg-white md:rounded-lg px-6 md:px-8 py-4 md:mb-6;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
